DATABASE_PROVIDER="postgresql"
DATABASE_URL="postgresql://user:password@localhost:5432/exylia_forms"

AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
AUTH_DISCORD_ID="your-discord-client-id"
AUTH_DISCORD_SECRET="your-discord-client-secret"

ADMIN_DISCORD_IDS="123456789,987654321"

IP_HASH_SALT="random-salt-string"
DISCORD_BOT_TOKEN=""
PORT=3000
